%html
  %head
    %title Jack Huang's Resume
    %style{:type => "text/css"}
      :plain
        .header{
          -webkit-print-color-adjust:exact;
          background-color:#45423F;
          height:110px;
          width:100%;
          text-align:right;
          color: White;
          width: 930px;
          margin: 0 auto;
          padding-bottom: 10px;
        }

        .header a{
          color: #dbffdb;
          text-decoration: none;
          border-bottom: 1px dotted;
        }

        .header a:hover{
          border-bottom: none;
        }

        .leftCol{
          text-align: left;
          padding-left: 40;
        }

        .rightCol{
          padding-right: 15;
          vertical-align: bottom;
        }

        .infoTable{
          width:100%;
        }

        .infoRightCol{
          text-align:right;
        }

        .eduWaterloo{
          padding-left:30px;
        }

        .compPara{
          margin-bottom:5px;
          margin-top:0px;
        }

        .lowTopMargin{
          margin-top:0px;
        }

        .lowBottomMargin{
          margin-bottom:5px;
        }

        .name{
          text-align: left;
          font-family: Cambria;
          font-size: 50px;
          font-weight: bold;
          padding-left: 15;
        }

        .body{
          width: 900px;
          margin: 0 auto;
          color: #222222;
        }

        table{
          color: #222222;
        }

        h2{
          margin-bottom: 0px;
          margin-top: 30px;
        }

        a{
          color: white;
        }

        .floatRight{
          float: right;
        }


  %body
    %table.header
      %tr
        %td.name Jack Huang
        %td.rightCol
          %a{:href => "http://jack-huang.com"} jack-huang.com
      %tr
        %td.leftCol 4A Computer Science
        %td.rightCol
          %a{:href => "http://github.com/lanjian"} github.com/lanjian
      %tr
        %td.leftCol Fine Arts Minor
        %td.rightCol jackhxs@gmail.com
      %tr
        %td.leftCol University of Waterloo
        %td.rightCol 415-758-8967
    .body
      %h2 SKILLS SUMMARY
      %hr
      %ul
        %li Excellent understanding of fundamental programming concepts including OOP, functional programming, and software design patterns obtained through school and self-study
        %li Familiar with game development; complemented by strong background in fine arts
        %li Experienced with building web applications and Android applications
        %li Demonstrated creativity and skill in visual arts through personal artworks
        %li Strong problem solving skills; demonstrated by math and programming contest results
        %li Good communication skills; Fluent in Chinese

      %h2 COMPUTER PROFICIENCY
      %hr
      %p.compPara
        %b Languages:
        JavaScript, C++, C, Java, Haskell, Python, Ruby, Scheme, ActionScript, Scala, VB, HTML
      %p.compPara
        %b Technologies/Tools:
        OpenGL, WebGL, vim, git, SVN, Perforce, bash, batch, SSIS, JSP
      %p.compPara
        %b Applications:
        Eclipse, Visual Studio, MS SQL Server, Photoshop, Illustrator, Flash, Autodesk Maya
      %p.compPara
        %b Frameworks/Libraries:
        Swing, Rails, GWT, Node.Js, Three.Js, NowJs, jQuery
      %ul
        %li Knowledge of 3D graphics concepts and technologies
        %li Familiar with multithreading and concurrency

      %h2 WORK EXPERIENCE
      %hr

      %table.infoTable
        %tr
          %td
            %b Accessibility Engineer
          %td.infoRightCol Mountain View, CA
        %tr
          %td Google
          %td.infoRightCol May. 2012 - Present

      %ul
        %li Works on video captions as a member of the video accessibility team
        %li Improves Youtube captions by developing features to support the Communications and Video Accessibility Act technical requirements

      %table.infoTable
        %tr
          %td
            %b Platform and Game Engineer
          %td.infoRightCol Redwood Shores, CA
        %tr
          %td Bioware San Francisco
          %td.infoRightCol Sept. 2011 - Dec. 2011

      %ul
        %li Wrote, maintained, and deployed production level code for games with over 100,000 daily users
        %li Re-designed and implemented a new gifting system using the new Facebook JavaScript API for the popular social game Dragon Age Legends
        %li Developed in-game store and integrated it with in-house platform services for an unannounced core social game

      %table.infoTable
        %tr
          %td
            %b Software Developer
          %td.infoRightCol Montreal, QC
        %tr
          %td Autodesk Media & Entertainment
          %td.infoRightCol Jan. 2011 - Apr. 2011

      %ul
        %li Worked in a small startup team of 3 developers and contributed significantly to all aspects of the Distributed Simulation project, including design, development, documentation, and quality assurance
        %li Researched and implemented solutions, through successively-refined prototypes, that would empower artists to produce results more quickly when working with 3D dynamics simulations in Autodesk 3ds Max, Maya, or Softimage
        %li Designed and implemented a Particle Previewer web application using WebGL that displays particle simulation results
        %li Adapted quickly to an agile, iterative development process

      %table.infoTable
        %tr
          %td
            %b Java Developer
          %td.infoRightCol Toronto, ON
        %tr
          %td TD Securities
          %td.infoRightCol May 2010 - Aug. 2010

      %ul
        %li Responsible for development and support of TD Prime Brokerage website and service
        %li Learned database technologies through database migration
        %li Developed various features such as export reports for clients and widgets for the website according to business requirements using a combination of Java EE, SQL, and VB.NET technologies
        %li Quickly responded to changing client requirements

      %h2 PROJECTS
      %hr
      %p.lowTopMargin
        %b Surreal
        %span.floatRight Computer Graphics, Apr. 2012
      %ul
        %li Interactive world inspired by proto-surrealist paintings of Georgio De Chirico and Yves Tanguy
        %li Players can walk around in a vast procedurally generated world with an unsettling yet strangely serene atmosphere
        %li Implemented shadows using shadow maps and a skydome with a day-night cycle to give the world a dynamic feel
        %li Other features include a particle system and 3D collisions

      %p.lowTopMargin
        %b Ray Tracer
        %span.floatRight Computer Graphics, Mar. 2012
      %ul
        %li Created a ray tracer in C++ from scratch
        %li Able to render spheres, cubes, and polygonal meshes
        %li Features include phong lighting, hard shadows, mirror reflections, and linear fog

      %p.lowTopMargin
        %b HTML5 Multiplayer Tetris
        %span.floatRight Personal, Dec. 2011
      %ul
        %li Developed a Tetris clone using HTML5 technologies and CoffeeScript
        %li Currently developing multiplayer head-to-head gameplay over the web with Node.Js

      %p.lowTopMargin
        %b Android MikroCalendar
        %span.floatRight User Interfaces, Jul. 2011
      %ul
        %li Built the Android user interface for a microblogging system for events

      %p.lowTopMargin
        %b OS/161 Operating System
        %span.floatRight Operating Systems, Dec. 2010
      %ul
        %li Worked in a team to develop an operating system built on top of OS/161
        %li Requirements included implementing synchronization primitives, system calls, and a memory management system


      %h2 EDUCATION
      %hr

      %table.infoTable
        %tr
          %td
            %b Candidate for Bachelor of Computer Science,
            Computer Science
          %td.infoRightCol Waterloo, ON
        %tr
          %td University of Waterloo
          %td.infoRightCol Sept. 2008 - Present

      .eduWaterloo
        %p
          %b Relevant courses:
          Computer Graphics, Artificial Intelligence, User Interfaces, Operating Systems


      %h2 AWARDS
      %hr
      %ul
        %li Nortel Networks Undergraduate Scholarship, Nortel Networks, Sept. 2008
        %li President's Scholarship, University of Waterloo, Richmond Hill, ON, Sept. 2008
        %li Top 2% in 2008 Euclid Contest/Student Honour Roll, University of Waterloo, Richmond Hill, ON, Apr. 2008
        %li 3rd Place Team in Boardwide Educational Computing Organization of Ontario (ECOO) Programming Contest, ECOO, York University, ON, Apr. 2008


      %h2 ACTIVITIES & INTERESTS
      %hr

      %table.infoTable
        %tr
          %td
            %b VeloCity Mobile + Media Incubator - Member
          %td.infoRightCol Waterloo, ON
        %tr
          %td University of Waterloo
          %td.infoRightCol Jan. 2012 - Apr. 2012
      %br
      %table.infoTable
        %tr
          %td
            %b Ping Pong Club - Member
          %td.infoRightCol Waterloo, ON
        %tr
          %td University of Waterloo
          %td.infoRightCol Jan. 2009 - Present
      %br
      %table.infoTable
        %tr
          %td
            %b Intramurals Soccer - Player
          %td.infoRightCol Waterloo, ON
        %tr
          %td University of Waterloo
          %td.infoRightCol May 2011 - Aug. 2011

      %p Enjoys ping pong, soccer, video games, drawing, painting, and photography
