%html
  %head
    %title Jack Huang's Resume
    %style{:type => "text/css"}
      :plain
        .header{
          -webkit-print-color-adjust:exact;
          background-color:#45423F;
          height:110px;
          width:100%;
          text-align:right;
          color: White;
          width: 930px;
          margin: 0 auto;
          padding-bottom: 10px;
        }

        .header a{
          color: #dbffdb;
          text-decoration: none;
          border-bottom: 1px dotted;
        }

        .header a:hover{
          border-bottom: none;
        }

        .leftCol{
          text-align: left;
          padding-left: 40;
        }

        .rightCol{
          padding-right: 15;
          vertical-align: bottom;
        }

        .infoTable{
          width:100%;
        }

        .infoRightCol{
          text-align:right;
        }

        .eduWaterloo{
          padding-left:30px;
        }

        .compPara{
          margin-bottom:5px;
          margin-top:0px;
        }

        .lowTopMargin{
          margin-top:0px;
        }

        .lowBottomMargin{
          margin-bottom:5px;
        }

        .name{
          text-align: left;
          font-family: Cambria;
          font-size: 50px;
          font-weight: bold;
          padding-left: 15;
        }

        .body{
          width: 900px;
          margin: 0 auto;
          color: #222222;
        }

        a{
          color: #417341;
          text-decoration: none;
          border-bottom: 1px dotted;
        }

        table{
          color: #222222;
        }

        h2{
          margin-bottom: 0px;
          margin-top: 30px;
        }

        .floatRight{
          float: right;
        }

        .round-image{
          box-shadow: 0 0 2px rgba(0, 0, 0, .8);
          filter: grayscale(50%);
          border-radius: 50%;
          width: 30px;
          height: 30px;
        }

  %body
    %table.header
      %tr
        %td.name Jack Huang
      %tr
        %td.leftCol jackhxs@gmail.com
        %td.rightCol
          %a{:href => "http://jack-huang.com"} jack-huang.com
      %tr
        %td.leftCol 415-316-6398
        %td.rightCol
          %a{:href => "http://github.com/lanjian"} github.com/lanjian
      %tr
    .body
      %h2 SKILLS SUMMARY
      %hr
      %ul
        %li Excellent understanding of fundamental programming concepts including OOP, functional programming, and software design patterns obtained through school and self-study
        %li Experienced with building web applications and Android applications
        %li Familiar with game development; complemented by strong background in fine arts
        %li Demonstrated creativity and skill in visual arts through personal artworks
        %li Strong problem solving skills; demonstrated by math and programming contest results
        %li Good communication skills; Fluent in Chinese

      %h2 COMPUTER PROFICIENCY
      %hr
      %p.compPara
        %b Languages:
        JavaScript, C++, C, Java, Haskell, Python, Ruby, Scheme, Scala, HTML, CSS, MEL
      %p.compPara
        %b Technologies/Tools:
        OpenGL, WebGL, Vim, Git, SVN, Perforce, Make, Bash
      %p.compPara
        %b Frameworks/Libraries:
        jQuery, Node.Js, Three.Js, Closure, Rails, GWT, Swing, Facebook API
      %p.compPara
        %b Platforms:
        Linux, Windows, OS X, Android, iOS
      %p.compPara
        %b Databases:
        MongoDB, SQL, Redis
      %p.compPara
        %b Applications:
        Eclipse, Visual Studio, Photoshop, Illustrator, Flash, Autodesk Maya
      %ul
        %li Knowledge of 3D graphics concepts and technologies
        %li Familiar with multithreading and concurrency

      %h2 WORK EXPERIENCE
      %hr

      %table.infoTable
        %tr
          %td
            %b Backend Software Engineer
          %td.infoRightCol San Francisco, CA
        %tr
          %td SlideShare/LinkedIn
          %td.infoRightCol July. 2013 - Present

      %ul
        %li Implemented scalable system that is responsible for detecting the language of all the slideshows uploaded through SlideShare
        %li Worked on systems that drastically reduced spam and duplicate slideshows and improved SlideShare's overral content quality
        %li Maintains and improves the Rich Media Platform that converts and stores all media content uploaded to SlideShare and LinkedIn

      %table.infoTable
        %tr
          %td
            %b Software Engineer
          %td.infoRightCol Toronto, ON
        %tr
          %td Side Effects Software Inc.
          %td.infoRightCol Sept. 2012 - Dec. 2012

      %ul
        %li Actively involved in all aspects of a project that allows leading 3D animation package Houdini to be embedded into other applications
        %li Created a product that, by integrating smart digital assets from Houdini-powered website Orbolt.com with other 3D animation packages, expands the user base and creates powerful new workflows for artists

      %table.infoTable
        %tr
          %td
            %b Accessibility Engineer
          %td.infoRightCol Mountain View, CA
        %tr
          %td Google
          %td.infoRightCol May. 2012 - Aug. 2012

      %ul
        %li Worked on video closed captioning as a member of the video accessibility team
        %li Launched user captions customization features on Youtube that enables users to customize caption display styles in support of Communications and Video Accessibility Act technical requirements
        %li Implemented new rendering capabilities to allow captions in CEA-708 format to be displayed on Youtube

      %table.infoTable
        %tr
          %td
            %b Platform and Game Engineer
          %td.infoRightCol Redwood Shores, CA
        %tr
          %td Bioware San Francisco
          %td.infoRightCol Sept. 2011 - Dec. 2011

      %table.infoTable
        %tr
          %td
            %b Software Developer
          %td.infoRightCol Montreal, QC
        %tr
          %td Autodesk Media & Entertainment
          %td.infoRightCol Jan. 2011 - Apr. 2011

      %table.infoTable
        %tr
          %td
            %b Java Developer
          %td.infoRightCol Toronto, ON
        %tr
          %td TD Securities
          %td.infoRightCol May 2010 - Aug. 2010

      %h2 PROJECTS
      %hr
      %p.lowTopMargin
        %b Coffee2D Game Engine
        %span.floatRight Personal, Aug. 2012
      %ul
        %li 2D game engine for HTML5 canvas written in CoffeeScript that leverages features such as classes to better integrate with web games written in CoffeeScript
        %li Designed to be light-weight and easy to use; includes features such as sprites, event handling, and scene graphs.
        %li 
          Developed a multiplayer game using the engine at LinkedIn HackDay; source code is available at 
          %a{:href => "http://github.com/lanjian/gamehack"} github.com/lanjian/gamehack

      %p.lowTopMargin
        %b Surreal (Graphics Art Project)
        %span.floatRight Computer Graphics, Apr. 2012
      %ul
        %li Interactive world inspired by proto-surrealist paintings of Georgio De Chirico and Yves Tanguy
        %li Players can walk around in a vast procedurally generated world with an unsettling yet strangely serene atmosphere
        %li Implemented shadows using shadow maps and a skydome with a day-night cycle to give the world a dynamic feel
        %li Other features include a particle system and 3D collisions

      %p.lowTopMargin
        %b Ray Tracer
        %span.floatRight Computer Graphics, Mar. 2012
      %ul
        %li Created a ray tracer in C++ from scratch
        %li Able to render spheres, cubes, and polygonal meshes
        %li Features include phong lighting, hard shadows, mirror reflections, and linear fog

      %p.lowTopMargin
        %b HTML5 Multiplayer Tetris
        %span.floatRight Personal, Dec. 2011
      %ul
        %li Developed a Tetris clone using HTML5 technologies and CoffeeScript
        %li Currently developing multiplayer head-to-head gameplay over the web with Node.Js


      %h2 EDUCATION
      %hr

      %table.infoTable
        %tr
          %td
            %b Candidate for Bachelor of Computer Science,
            Fine Arts Minor
          %td.infoRightCol Waterloo, ON
        %tr
          %td University of Waterloo
          %td.infoRightCol Sept. 2008 - Apr. 2013

      .eduWaterloo
        %ul
          %li
            Dean's Honours List 4 times
          %li
            %b Relevant courses:
            Computer Graphics, Artificial Intelligence, User Interfaces, Operating Systems

      %h2 ACTIVITIES & INTERESTS
      %hr
      %p Enjoys ping pong, soccer, video games, drawing, painting, and photography
