%html
  %head
    %title Jack Huang's Resume
    %meta{:charset => "UTF-8"}
    %link{:href => "https://fonts.googleapis.com/css?family=Catamaran", :rel => "stylesheet"}
    %style{:type => "text/css"}
      :plain
        * {
          font-family: 'Catamaran', serif;
          font-size: 14px;
        }
        .header{
          -webkit-print-color-adjust:exact;
          background-color:#45423F;
          height:110px;
          width:100%;
          text-align:right;
          color: White;
          width: 930px;
          margin: 0 auto;
          padding-bottom: 10px;
        }

        .header a{
          color: #dbffdb;
          text-decoration: none;
          border-bottom: 1px dotted;
        }

        .header a:hover{
          border-bottom: none;
        }

        .leftCol{
          text-align: left;
          padding-left: 40;
        }

        .rightCol{
          padding-right: 15;
          vertical-align: bottom;
        }

        .infoTable{
          width:100%;
        }

        .infoRightCol{
          text-align:right;
        }

        .eduWaterloo{
          padding-left:30px;
        }

        .compPara{
          margin-bottom:5px;
          margin-top:0px;
        }

        .lowTopMargin{
          margin-top:0px;
        }

        .lowBottomMargin{
          margin-bottom:2px;
        }

        .name{
          text-align: left;
          font-family: Cambria;
          font-size: 50px;
          font-weight: bold;
          padding-left: 15;
        }

        .body{
          width: 910px;
          margin: 0 auto;
          color: #222222;
        }

        a{
          color: #417341;
          text-decoration: none;
          border-bottom: 1px dotted;
        }

        table{
          color: #222222;
        }

        h2{
          margin-bottom: 0px;
          margin-top: 25px;
          font-size: 12px;
          color: #666;
        }

        .floatRight{
          float: right;
        }

        .roundImage{
          border-radius: 50%;
        }

        .jobContainer{
          display: inline-block;
          width:100%;
        }

        .jobLogo{
          display: block;
          -#margin: auto;
          max-width: 80%;
          max-height: 80%;
          -#filter: grayscale(70%);
        }

        .jobLogoBar{
          float: left;
          width: 5%;
        }

        .job{
          margin-top: 7px;
          float: right;
          width: 95%;
        }

        .jobDescription{
          margin-top: 8px;
          padding-left: 25px;
          color: #444444;
        }

        .briefJobTopMargin{
          margin-top: 10px;
        }

        .verticalBar{
          margin-top: 15px;
          margin-left: 16px;
          border-left: 3px solid #abbaab;
        }

        image{
          image-rendering: pixelated;
        }

        hr{
          margin-top: 2px;
        }

        .alignCenter{
          text-align: center;
        }

        .circles{
          color: #555;
          font-size: 20px;
          line-height: 1em;
          letter-spacing: 0.08em;
        }

        tr.projectRow > td{
          padding-bottom: 0px;
        }

        table.projectsTable{
          table-layout: fixed;
        }

  %body
    %table.header
      %tr
        %td.name Jack Huang
        -#%td{:style => "margin-right: 14px; margin-top: 15px; display: block;"} Backend engineer interested in graphics, VR, and game development
      %tr
        %td.leftCol jackhxs@gmail.com
        %td.rightCol
          %a{:href => "http://github.com/lanjian"} github.com/lanjian
      %tr
        %td.leftCol 415-316-6398
        %td.rightCol
          %a{:href => "https://www.linkedin.com/in/jackhxs"} linkedin.com/in/jackhxs
      %tr
    .body
      %h2 TECHNICAL SKILLS
      %hr
      %table.infoTable
        %tr
          %td
          %td.alignCenter.circles ●●●
          %td.alignCenter.circles ●●○
          %td.alignCenter.circles ●○○
        %tr
          %td
            %b Languages
          %td.alignCenter Python, Rust, Ruby
          %td.alignCenter Java, TS/JS, GoLang
          %td.alignCenter Scala, C++, C, Haskell
        %tr
          %td
            %b Technologies
          %td.alignCenter AWS, Terraform, Docker, Make
          %td.alignCenter Bazel, OpenGL, WebGL
          %td.alignCenter Nginx, Jenkins
        %tr
          %td
            %b Frameworks
          %td.alignCenter GraphQL, FastAPI, Rails, Sinatra
          %td.alignCenter Node.Js, Express.Js, Three.Js
          %td.alignCenter A-Frame, React
        %tr
          %td
            %b Databases
          %td.alignCenter PostgreSQL, MySQL, DynamoDB
          %td.alignCenter Redis
          %td.alignCenter MongoDB

      %h2 PROFESSIONAL EXPERIENCES
      %hr

      .jobContainer
        .jobLogoBar
          %image.jobLogo.roundImage{:src => 'assets/alt.png'}
          .verticalBar{:style => 'height: 105px'}
        .job
          %table.infoTable
            %tr
              %td Senior Software Engineer @ <span style="font-weight: 700"> ALT.xyz</span>, San Francisco
              %td.infoRightCol 2021/04 - Present
          %ul.jobDescription
            %li With a team of 3 engineers, launched the Ledger service that handles all banking-related activities and money movements for the Alt Exchange Platform with an average monthly GMV of $5 million
            %li As lead infra engineer, built key infrastructure across all 3 teams, including monitoring, CI/CD, build/deployment, ETL, and testing pipelines
            %li Continuously led efforts to improve developer productivity; Projects include personal development stacks on AWS and CLI tools that saw adoption by the whole engineering team

      .jobContainer
        .jobLogoBar
          %image.jobLogo.roundImage{:src => 'assets/ubiquity6.png'}
          .verticalBar{:style => 'height: 125px'}
        .job
          %table.infoTable
            %tr
              %td Senior Backend Software Engineer @ <span style="font-weight: 700"> Ubiquity6</span>, San Francisco
              %td.infoRightCol 2019/04 - 2020/07
          %ul.jobDescription
            %li Launched Display.land - an unique photogrammetry app with 3D, AR, gameplay, and social components
            %li Part of a team that built the app from idea to launch in six months, and grew it to 500k users with a robust and scalable serverless AWS stack
            %li Delivered major app features and services such as location search, short-code generation, and space trailers using GraphQL/Apollo, API Gateway, Lambda, ECS, and Step Functions
            %li Established and maintained key infrastructure pieces such as DNS, CDN, and databases using Route53, CloudFront, and DynamoDB
            %li Uplifted engineering culture and raised code quality by introducing a team-wide BDD testing standard

      .jobContainer
        .jobLogoBar
          %image.jobLogo.roundImage{:src => 'assets/linkedin.png'}
          .verticalBar{:style => 'height: 82px'}
        .job
          %table.infoTable
            %tr
              %td Backend Software Engineer @ <span style="font-weight: 700"> LinkedIn</span>, San Francisco
              %td.infoRightCol 2013/07 - 2018/10
          %ul.jobDescription
            %li Designed and implemented LinkedIn's video and document processing pipeline that handles millions of requests per day
            %li Contributed to SlideShare's GDPR compliance by auditing and securing its public API and cleaning up 400TB of non-compliant user data
            %li Created AWS infrastructure and deployment system with Terraform, Packer, and Jenkins for housing SlideShare's rich media conversion system
            %li Created a scalable system that is responsible for detecting the language of slideshows uploaded through SlideShare

      .jobContainer
        .jobLogoBar
          %image.jobLogo.roundImage{:src => 'assets/sidefx.png'}
        .job
          %table.infoTable
            %tr
              %td Software Engineer @ <span style="font-weight: 700"> Side Effects</span>, Toronto
              %td.infoRightCol 2012/09 - 2012/12

      .jobContainer.briefJobTopMargin
        .jobLogoBar
          %image.jobLogo.roundImage{:src => 'assets/google.png'}
        .job
          %table.infoTable
            %tr
              %td Software Engineer @ <span style="font-weight: 700"> Google</span>, Mountain View
              %td.infoRightCol 2012/05 - 2012/08

      .jobContainer.briefJobTopMargin
        .jobLogoBar
          %image.jobLogo.roundImage{:src => 'assets/ea.png'}
        .job
          %table.infoTable
            %tr
              %td Software Engineer @ <span style="font-weight: 700"> Electronic Arts</span>, Redwood City
              %td.infoRightCol 2011/09 - 2011/12


      %h2 PROJECTS
      %hr
      %table.infoTable.projectsTable
        %tr
          %td
            %p.lowTopMargin.lowBottomMargin
              %b
                %a{:href => "https://github.com/LanJian/Raytracers"} https://github.com/LanJian/Raytracers
            %p.lowTopMargin Ray tracers in Rust, Python, and other languages
          %td
            %p.lowTopMargin.lowBottomMargin
              %b
                %a{:href => "https://github.com/LanJian/Coffee2D"} https://github.com/LanJian/Coffee2D
            %p.lowTopMargin HTML5 2D game engine
          %td
            %p.lowTopMargin.lowBottomMargin
              %b
                %a{:href => "https://github.com/LanJian/Surreal"} https://github.com/LanJian/Surreal
            %p.lowTopMargin Interactive world with a surrealist vibe


      %h2 EDUCATION
      %hr

      %table.infoTable
        %tr
          %td Bachelor of Computer Science, Fine Arts Minor @ <span style="font-weight: 700"> University of Waterloo</span>, Canada
          %td.infoRightCol Class of 2013
