%html
  %head
    %title Jack Huang's Resume
    %meta{:charset => "UTF-8"}
    %link{:href => "https://fonts.googleapis.com/css?family=Old+Standard+TT", :rel => "stylesheet"}
    %style{:type => "text/css"}
      :plain
        * {
          font-family: 'Old Standard TT', serif;
        }
        .header{
          -webkit-print-color-adjust:exact;
          background-color:#45423F;
          height:110px;
          width:100%;
          text-align:right;
          color: White;
          width: 930px;
          margin: 0 auto;
          padding-bottom: 10px;
        }

        .header a{
          color: #dbffdb;
          text-decoration: none;
          border-bottom: 1px dotted;
        }

        .header a:hover{
          border-bottom: none;
        }

        .leftCol{
          text-align: left;
          padding-left: 40;
        }

        .rightCol{
          padding-right: 15;
          vertical-align: bottom;
        }

        .infoTable{
          width:100%;
        }

        .infoRightCol{
          text-align:right;
        }

        .eduWaterloo{
          padding-left:30px;
        }

        .compPara{
          margin-bottom:5px;
          margin-top:0px;
        }

        .lowTopMargin{
          margin-top:0px;
        }

        .lowBottomMargin{
          margin-bottom:5px;
        }

        .name{
          text-align: left;
          font-family: Cambria;
          font-size: 50px;
          font-weight: bold;
          padding-left: 15;
        }

        .body{
          width: 900px;
          margin: 0 auto;
          color: #222222;
        }

        a{
          color: #417341;
          text-decoration: none;
          border-bottom: 1px dotted;
        }

        table{
          color: #222222;
        }

        h2{
          margin-bottom: 0px;
          margin-top: 30px;
        }

        .floatRight{
          float: right;
        }

        .roundImage{
          border-radius: 50%;
        }

        .jobContainer{
          display: inline-block;
          width:100%;
        }

        .jobLogo{
          display: block;
          -#margin: auto;
          max-width: 80%;
          max-height: 80%;
          filter: grayscale(70%);
        }

        .jobLogoBar{
          float: left;
          width: 5%;
        }

        .job{
          margin-top: 7px;
          float: right;
          width: 95%;
        }

        .autodesk{
          margin-top: 20px;
        }

        .verticalBar{
          margin-top: 15px;
          margin-left: 16px;
          border-left: 3px solid #abbaab;
          height: 115px;
        }

  %body
    %table.header
      %tr
        %td.name Jack Huang
        %td Backend engineer interested in graphics, VR, and game development
      %tr
        %td.leftCol jackhxs@gmail.com
        %td.rightCol
          %a{:href => "http://jack-huang.com"} jack-huang.com
      %tr
        %td.leftCol 415-316-6398
        %td.rightCol
          %a{:href => "http://github.com/lanjian"} github.com/lanjian
      %tr
    .body
      %h2 TECHNICAL SKILLS
      %hr
      %table.infoTable
        %tr
          %td
          %td ***
          %td **
          %td *
        %tr
          %td
            %b Languages
          %td Ruby, Java
          %td GoLang, JavaScript, Python, HTML, CSS
          %td C++, C, Haskell,
        %tr
          %td
            %b Technologies
          %td AWS, Git, Bash
          %td Docker, OpenGL, WebGL
          %td Nginx, Make
        %tr
          %td
            %b Frameworks
          %td React, Node.Js, A-Frame, Three.Js, Rails, Sinatra
        %tr
          %td
            %b Databases
          %td MySQL, MongoDB, DynamoDB, Redis
        %tr
          %td
            %b Applications
          %td Unity, Photoshop, Illustrator, Autodesk Maya

      %h2 PROFESSIONAL EXPERIENCES
      %hr

      .jobContainer
        .jobLogoBar
          %image.jobLogo.roundImage{:src => 'linkedin.png'}
          .verticalBar
        .job
          %table.infoTable
            %tr
              %td Backend Software Engineer @ <span style="font-weight: 700"> LinkedIn</span>, San Francisco
              %td.infoRightCol 2013/07 - Present
          %ul
            %li video
            %li automation, devops, terraform, infrastructure, deployment system
            %li Implemented scalable system that is responsible for detecting the language of all the slideshows uploaded through SlideShare
            %li Worked on systems that drastically reduced spam and duplicate slideshows and improved SlideShare's overall content quality

      .jobContainer
        .jobLogoBar
          %image.jobLogo.roundImage{:src => 'https://www.sidefx.com/media/uploads/products/logos/ico_houdini.svg'}
        .job
          %table.infoTable
            %tr
              %td Software Engineer @ <span style="font-weight: 700"> Side Effects</span>, Toronto
              %td.infoRightCol 2012/09 - 2012/12
          %ul
            %li Created a product that, by integrating smart digital assets from Houdini-powered website Orbolt.com with other 3D animation packages, expands the user base and creates powerful new workflows for artists

      .jobContainer
        .jobLogoBar
          %image.jobLogo.roundImage{:src => 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/200px-Google_%22G%22_Logo.svg.png'}
        .job
          %table.infoTable
            %tr
              %td Accessibility Engineer @ <span style="font-weight: 700"> Google</span>, Mountain View
              %td.infoRightCol 2012/05 - 2012/08
          %ul
            %li Launched user captions customization features on Youtube that enables users to customize caption display styles in support of Communications and Video Accessibility Act technical requirements
            %li Implemented new rendering capabilities to allow captions in CEA-708 format to be displayed on Youtube

      .jobContainer
        .jobLogoBar
          %image.jobLogo.roundImage{:src => 'ea.png'}
        .job
          %table.infoTable
            %tr
              %td Game Engineer @ <span style="font-weight: 700"> Electronic Arts</span>, Redwood City
              %td.infoRightCol 2011/09 - 2011/12

      .jobContainer.autodesk
        .jobLogoBar
          %image.jobLogo.roundImage{:src => 'autodesk2.png'}
        .job
          %table.infoTable
            %tr
              %td Software Engineer @ <span style="font-weight: 700"> Autodesk</span>, Montréal
              %td.infoRightCol 2011/01 - 2011/04


      %h2 PROJECTS
      %hr
      %p.lowTopMargin
        %b
          %a{:href => "https://github.com/LanJian/Surreal"} https://github.com/LanJian/Surreal
      %ul
        %li Interactive world with a surrealist vibe

      %p.lowTopMargin
        %b
          %a{:href => "https://github.com/LanJian/Raytracers"} https://github.com/LanJian/Raytracers
      %ul
        %li Ray tracers in C++, Haskell, GoLang, and Ruby

      %p.lowTopMargin
        %b
          %a{:href => "https://github.com/LanJian/Coffee2D"} https://github.com/LanJian/Coffee2D

      %ul
        %li HTML5 2D game engine


      %h2 EDUCATION
      %hr

      %table.infoTable
        %tr
          %td
            %b Bachelor of Computer Science,
            Fine Arts Minor
          %td.infoRightCol Class of 2013
        %tr
          %td University of Waterloo, Canada
